@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<div class="hero gradient">
    <div class="grid-container relative">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <div class="hero__inner">
                    <h1>Network Operators</h1>
                    <div class="hero__descr">
                        <p>Advancing Connectivity for Network Operators with Fiber, Small Cells, DAS, Building Communications, Edge and Wholesale Solutions</p>
                    </div>
                </div>
                <img class="hero__bg-image" src="https://extenetsystems.com/wp-content/uploads/2019/04/network_operators_main_hero-02.png" alt="hero-image">
            </div>
        </div>
    </div>
</div>


<div class="hero gradient">
    <div class="grid-container relative">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <div class="hero__inner">
                    <h1>Network Operators</h1>
                    <div class="hero__descr">
                        <p>Advancing Connectivity for Network Operators with Fiber, Small Cells, DAS, Building Communications, Edge and Wholesale Solutions</p>
                    </div>
                </div>
                <img class="hero__bg-image" src="https://extenetsystems.com/wp-content/uploads/2019/04/network_operators_main_hero-02.png" alt="hero-image">
            </div>
        </div>
    </div>
</div>

<!-- BEGIN of main content -->
<div class="main-content relative">
    <div class="grid-container small-grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <div id="breadcrumbs">
                    <div class="breadcrumbs-block">
                        <!-- Breadcrumb NavXT 7.1.0 -->
                        <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to ExteNet." href="https://extenetsystems.com/" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span> &gt; <span class="post post-page current-item">Network Operators</span>					</div>
                </div>
                <h4><strong>Delivering Tomorrow’s Connectivity Today for Network Operators</strong></h4>
                <p>ExteNet is a trusted communications infrastructure partner for <strong>Network Operators. </strong>Since our first distributed network (DNS) in 2005, we have deployed over <strong>500</strong> networks &#8211; including fiber, small cells, DAS and evolved packet core (EPC) networks &#8211; both outdoors and indoors. Our NOC manages these carrier-class networks and all its <strong>65,000</strong> associated network elements for our network operator customers.</p>
                <p>ExteNet&#8217;s innovative connectivity solutions address end-to-end communication infrastructure needs of mobile network operators (MNOs), cable operators (MSOs), wholesale carriers and rural operators. Our core expertise lies in the design, build and operations of these carrier-class networks and solutions, both outdoors and indoors.</p>
                <div class="tabs-container">
                    <div class="grid-container">
                        <div class="grid-x grid-margin-x">
                            <div class="cell medium-4">
                                <ul class="subpages-tabs vertical tabs" data-tabs id="example-tabs">
                                    <li class="subpages-tabs-title tabs-title is-active"><a class="subpages-tabs-title__link" href="#panel1">Mobile Network Operators</a></li>
                                    <li class="subpages-tabs-title tabs-title "><a class="subpages-tabs-title__link" href="#panel2">Wholesale Carriers</a></li>
                                    <li class="subpages-tabs-title tabs-title "><a class="subpages-tabs-title__link" href="#panel3">Rural & Fixed Wireless Carriers</a></li>
                                </ul>
                            </div>
                            <div class="cell medium-8">
                                <div class="subpages-tabs-content tabs-content" data-tabs-content="example-tabs">
                                    <div class="tabs-panel subpages-tabs-panel is-active" id="panel1">
                                        <div class="subpages-tabs-panel__inner">
                                            <img class="subpages-tabs-panel__image" src="https://extenetsystems.com/wp-content/uploads/2019/04/mnos_tab2-03.svg" alt="image">
                                            <div class="subpages-tabs-panel__text">
                                                <h4>Mobile Network Operators</h4>
                                                <p>Advancing Connectivity for MNOs with Fiber, Small Cell, DAS, Edge and Building Communications Infrastructure Solutions.</p>
                                                <p><a class="button" href="https://extenetsystems.com/service-providers/mnos/">Learn More</a></p>
                                                <p>&nbsp;</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabs-panel subpages-tabs-panel " id="panel2">
                                        <div class="subpages-tabs-panel__inner">
                                            <img class="subpages-tabs-panel__image" src="https://extenetsystems.com/wp-content/uploads/2019/04/wholesale_carrier_providers_tab_2-03.svg" alt="image">
                                            <div class="subpages-tabs-panel__text">
                                                <h4>Wholesale Carriers</h4>
                                                <p>Network operators and broadband carriers have distinct needs to augment or extend their metro and long-haul fiber footprint.</p>
                                                <p><a class="button" href="https://extenetsystems.com/service-providers/wholesale-carrier-providers/">Learn More</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tabs-panel subpages-tabs-panel " id="panel3">
                                        <div class="subpages-tabs-panel__inner">
                                            <img class="subpages-tabs-panel__image" src="https://extenetsystems.com/wp-content/uploads/2019/04/rural_fixed_wireless_tab-2.svg" alt="image">
                                            <div class="subpages-tabs-panel__text">
                                                <h4>Rural &amp; Fixed Wireless Carriers</h4>
                                                <p>Advancing Connectivity for Rural &amp; Fixed Wireless Carriers with Distributed EPC, Turnkey LTE, CBRS and IaaS Solutions.</p>
                                                <p><a class="button" href="https://extenetsystems.com/service-providers/wireless-carriers/">Learn More</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	
	
                <h4><strong>Technology Matters, Service Differentiation Matters Most</strong></h4>
                <p>ExteNet is a bona-fide leader in enabling outdoor and indoor mobility solutions including fiber, small cells and DAS. We always prioritize and align the needs of our customers with the right technology solution. Service differentiation is critical, and we are focused on partnering with our customers to deliver and operate world-class networks and differentiate their service offerings. Our people focus on the <strong>How</strong>, as the How invariably marks success for all parties. Our business model necessitates a long-term view to network investment and we strive for long-term value creation for our customers.</p>
                <ul class="styled-list">
                    <li>We serve our MNO and MSO customers with scalable and reliable 4G LTE and 5G networks, fiber fronthaul and backhaul, edge networking and in-building communications infrastructure solutions</li>
                    <li>With <strong>30K+</strong> operational and under-construction DNS nodes &#8211; including small cells and DAS &#8211; our networks can enable mobile connectivity to over <strong>1 million devices concurrently</strong></li>
                    <li>We provide carrier-grade transport links and dark fiber for the carriers as a wholesale service</li>
                    <li>Our turnkey LTE solution &#8211; inclusive of EPC &#8211; provides a cost and time-to-market advantage for rural and fixed wireless operators</li>
                    <li>Being an industry leader in CBRS-ready networks with <strong>1,000+</strong> sites already deployed, we provide the expertise and managed service offerings essential for deploying and operating Private LTE networks</li>
                </ul>
                <p>Please contact ExteNet at <a href="mailto:sales@extenetsystems.com">sales@extenetsystems.com</a> to discuss ways we can help you build your next-generation communications network.</p>
            </div>
        </div>
    </div>
</div>


<!-- case studies slider section -->


<section class="case-studies-slider">
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <h4 class="case-studies-slider__title">Case Studies</h4>
        </div>
    </div>
</div>
<div id="case-studies-slider">

                                    
<div class="post-item-card white post-item ">
    <a href="https://extenetsystems.com/case_studies/one-penn-center/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2020/05/one-penn-ct-1024x809.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    One Penn Center				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                </div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item ">
    <a href="https://extenetsystems.com/case_studies/bringing-4g-lte-to-the-chicago-transit-authoritys-cta-subway/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/10/CTA-Case-Study-Image.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Chicago Transit Authority&#8217;s (CTA) Subway				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                </div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/one-liberty-place/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/shutterstock_1060259609-1024x683.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    One Liberty Place				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                    Connecting One of Philadelphia's Tallest Skyscrapers				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/empire-state-building/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/03/Bitmap.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Empire State Building				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                    Connecting One of America's Most Historic Landmarks				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/barclays-center/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/shutterstock_201987124-Barclays-1024x681.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Barclays Center				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                    Enabling High-Speed Mobile Fan Experience with Distributed Networks				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/enterprise-datacenter-solutions/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/03/Enterprise-2-1024x763.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Enterprise Datacenter Solutions				</h4>
                <p class="post-item-card__category">Enterprise Solutions</p>
                <div class="post-item-card__excerpt">
                    Enterprise Redundancy Via High-Speed Datacenter Connectivity				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/circuit-of-the-americas-racetrack/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/shutterstock_163601957-e1554324962370-1024x370.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Circuit of the Americas Racetrack				</h4>
                <p class="post-item-card__category">Outdoor Connectivity</p>
                <div class="post-item-card__excerpt">
                    Bringing Wireless Connectivity to Americas Largest Racetrack				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/inland-cellular/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/03/Phone-with-data-apps-3-1024x683.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Inland Cellular				</h4>
                <p class="post-item-card__category"></p>
                <div class="post-item-card__excerpt">
                    Delivering 4G LTE Fixed Wireless for Inland Cellular				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/att-stadium/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/shutterstock_413967412-1024x576.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    AT&#038;T Stadium				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                </div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/enterprise_financial_connectivity/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/03/shutterstock_758700349-1024x684.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Enterprise Financial Connectivity				</h4>
                <p class="post-item-card__category">Enterprise Solutions</p>
                <div class="post-item-card__excerpt">
                    Building and Deploying a Competitive Edge				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/san-francisco/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/SF-1024x470.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    San Francisco				</h4>
                <p class="post-item-card__category">Outdoor Connectivity</p>
                <div class="post-item-card__excerpt">
                    Connecting San Francisco With Distributed Networks				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/bank_of_america_dallas/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/shutterstock_722973451-1024x684.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Bank of America Plaza				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                    Connecting The Tallest Building in Dallas with Managed Fiber				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/new-york-city/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/NYC-Skyline-1024x634.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    New York City				</h4>
                <p class="post-item-card__category">Outdoor Connectivity</p>
                <div class="post-item-card__excerpt">
                    Connecting New York With Distributed Networks				</div>
            </div>
        </div>
    </a>
</div>
                                                    
<div class="post-item-card white post-item ">
    <a href="https://extenetsystems.com/case_studies/one-penn-center/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2020/05/one-penn-ct-1024x809.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    One Penn Center				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                </div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item ">
    <a href="https://extenetsystems.com/case_studies/bringing-4g-lte-to-the-chicago-transit-authoritys-cta-subway/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/10/CTA-Case-Study-Image.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Chicago Transit Authority&#8217;s (CTA) Subway				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                </div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/one-liberty-place/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/shutterstock_1060259609-1024x683.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    One Liberty Place				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                    Connecting One of Philadelphia's Tallest Skyscrapers				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/empire-state-building/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/03/Bitmap.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Empire State Building				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                    Connecting One of America's Most Historic Landmarks				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/barclays-center/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/shutterstock_201987124-Barclays-1024x681.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Barclays Center				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                    Enabling High-Speed Mobile Fan Experience with Distributed Networks				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/enterprise-datacenter-solutions/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/03/Enterprise-2-1024x763.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Enterprise Datacenter Solutions				</h4>
                <p class="post-item-card__category">Enterprise Solutions</p>
                <div class="post-item-card__excerpt">
                    Enterprise Redundancy Via High-Speed Datacenter Connectivity				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/circuit-of-the-americas-racetrack/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/shutterstock_163601957-e1554324962370-1024x370.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Circuit of the Americas Racetrack				</h4>
                <p class="post-item-card__category">Outdoor Connectivity</p>
                <div class="post-item-card__excerpt">
                    Bringing Wireless Connectivity to Americas Largest Racetrack				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/inland-cellular/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/03/Phone-with-data-apps-3-1024x683.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Inland Cellular				</h4>
                <p class="post-item-card__category"></p>
                <div class="post-item-card__excerpt">
                    Delivering 4G LTE Fixed Wireless for Inland Cellular				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/att-stadium/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/shutterstock_413967412-1024x576.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    AT&#038;T Stadium				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                </div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/enterprise_financial_connectivity/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/03/shutterstock_758700349-1024x684.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Enterprise Financial Connectivity				</h4>
                <p class="post-item-card__category">Enterprise Solutions</p>
                <div class="post-item-card__excerpt">
                    Building and Deploying a Competitive Edge				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/san-francisco/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/SF-1024x470.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    San Francisco				</h4>
                <p class="post-item-card__category">Outdoor Connectivity</p>
                <div class="post-item-card__excerpt">
                    Connecting San Francisco With Distributed Networks				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/bank_of_america_dallas/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/shutterstock_722973451-1024x684.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Bank of America Plaza				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                    Connecting The Tallest Building in Dallas with Managed Fiber				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/new-york-city/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/NYC-Skyline-1024x634.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    New York City				</h4>
                <p class="post-item-card__category">Outdoor Connectivity</p>
                <div class="post-item-card__excerpt">
                    Connecting New York With Distributed Networks				</div>
            </div>
        </div>
    </a>
</div>
                                                    
<div class="post-item-card white post-item ">
    <a href="https://extenetsystems.com/case_studies/one-penn-center/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2020/05/one-penn-ct-1024x809.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    One Penn Center				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                </div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item ">
    <a href="https://extenetsystems.com/case_studies/bringing-4g-lte-to-the-chicago-transit-authoritys-cta-subway/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/10/CTA-Case-Study-Image.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Chicago Transit Authority&#8217;s (CTA) Subway				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                </div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/one-liberty-place/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/shutterstock_1060259609-1024x683.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    One Liberty Place				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                    Connecting One of Philadelphia's Tallest Skyscrapers				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/empire-state-building/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/03/Bitmap.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Empire State Building				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                    Connecting One of America's Most Historic Landmarks				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/barclays-center/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/shutterstock_201987124-Barclays-1024x681.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Barclays Center				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                    Enabling High-Speed Mobile Fan Experience with Distributed Networks				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/enterprise-datacenter-solutions/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/03/Enterprise-2-1024x763.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Enterprise Datacenter Solutions				</h4>
                <p class="post-item-card__category">Enterprise Solutions</p>
                <div class="post-item-card__excerpt">
                    Enterprise Redundancy Via High-Speed Datacenter Connectivity				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/circuit-of-the-americas-racetrack/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/shutterstock_163601957-e1554324962370-1024x370.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Circuit of the Americas Racetrack				</h4>
                <p class="post-item-card__category">Outdoor Connectivity</p>
                <div class="post-item-card__excerpt">
                    Bringing Wireless Connectivity to Americas Largest Racetrack				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/inland-cellular/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/03/Phone-with-data-apps-3-1024x683.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Inland Cellular				</h4>
                <p class="post-item-card__category"></p>
                <div class="post-item-card__excerpt">
                    Delivering 4G LTE Fixed Wireless for Inland Cellular				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/att-stadium/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/shutterstock_413967412-1024x576.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    AT&#038;T Stadium				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                </div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/enterprise_financial_connectivity/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/03/shutterstock_758700349-1024x684.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Enterprise Financial Connectivity				</h4>
                <p class="post-item-card__category">Enterprise Solutions</p>
                <div class="post-item-card__excerpt">
                    Building and Deploying a Competitive Edge				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/san-francisco/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/SF-1024x470.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    San Francisco				</h4>
                <p class="post-item-card__category">Outdoor Connectivity</p>
                <div class="post-item-card__excerpt">
                    Connecting San Francisco With Distributed Networks				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/bank_of_america_dallas/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/shutterstock_722973451-1024x684.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    Bank of America Plaza				</h4>
                <p class="post-item-card__category">In-Building Solution</p>
                <div class="post-item-card__excerpt">
                    Connecting The Tallest Building in Dallas with Managed Fiber				</div>
            </div>
        </div>
    </a>
</div>
                                    
<div class="post-item-card white post-item is-featured">
    <a href="https://extenetsystems.com/case_studies/new-york-city/">
        <div class="post-item-card__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2019/04/NYC-Skyline-1024x634.jpg)">
            <div class="post-item-card__inner">
                <h4 class="post-item-card__title">
                    New York City				</h4>
                <p class="post-item-card__category">Outdoor Connectivity</p>
                <div class="post-item-card__excerpt">
                    Connecting New York With Distributed Networks				</div>
            </div>
        </div>
    </a>
</div>
</div>
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <a class="button" href="https://extenetsystems.com/case-studies/" >
                All Case Studies                            </a>
            <ul class="categories-list">                                    <li class="categories-list-item"><a
                                                                                                                 class="categories-list-item__link link link--with-arrow"
                                                                                                                 href="https://extenetsystems.com/case-studies//case-studies/?filterBy=enterprise">Enterprise Case Studies</a>
                </li>
                <li class="categories-list-item"><a
                                                     class="categories-list-item__link link link--with-arrow"
                                                     href="https://extenetsystems.com/case-studies//case-studies/?filterBy=in-building">In-Building Case Studies</a>
                </li>
                <li class="categories-list-item"><a
                                                     class="categories-list-item__link link link--with-arrow"
                                                     href="https://extenetsystems.com/case-studies//case-studies/?filterBy=outdoor">Outdoor Case Studies</a>
                </li>
                <li class="categories-list-item"><a
                                                     class="categories-list-item__link link link--with-arrow"
                                                     href="https://extenetsystems.com/case-studies//case-studies/?filterBy=rural">Rural Case Studies</a>
                </li>
            </ul>                        </div>
    </div>
</div>
            
</section>
    
<!-- news/events section -->

<section class="posts-grid" id="posts-grid">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <div class="section-overview"><h2 style="text-align: center;">News &amp; Events</h2>
                    <p style="text-align: center;">There are always exciting things in the works here at ExteNet. Keep up on the latest news and events to stay in the loop about what’s happening in the world of connectivity.</p>
                    <p style="text-align: center;"><a class="link link--with-arrow" href="https://extenetsystems.com/news-events/">All News &amp; Events</a></p>
                </div>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="medium-4 small-12 cell">
                <div class="post-card">
                    <div class="post-card__inner matchHeight">
                        <h5 class="post-card__title">
                            ExteNet Systems and MGM Resorts Announce Nationwide Connectivity Partnership									</h5>
                        <div class="post-card__excerpt">
                            Lisle, IL. –  September 28, 2022 – ExteNet Systems, the leading privately...									</div>
                        <div class="post-card__date">
                            September 28, 2022									</div>
                        <a class="post-card__button button" href="https://extenetsystems.com/extenet-systems-and-mgm-resorts-announce-nationwide-connectivity-partnership/">Read Article</a>
                    </div>
                </div>
            </div>
            <div class="medium-4 small-12 cell">
                <div class="post-card">
                    <div class="post-card__inner matchHeight">
                        <h5 class="post-card__title">
                            Will 5G Change the World? Chris Vassallo, ExteNet Systems (Ep. 49)									</h5>
                        <div class="post-card__excerpt">
                            In this episode of Will 5G Change the World? we hear from...									</div>
                        <div class="post-card__date">
                            September 19, 2022									</div>
                        <a class="post-card__button button" href="https://www.rcrwireless.com/20220919/podcast/will-5g-change-the-world-podcast/will-5g-change-the-world-chris-vassallo-extenet-systems-ep-49#new_tab">Read Article</a>
                    </div>
                </div>
            </div>
            <div class="medium-4 small-12 cell">
                <div class="post-card">
                    <div class="post-card__inner matchHeight">
                        <h5 class="post-card__title">
                            ExteNet chases indoor, rural fiber growth opportunities									</h5>
                        <div class="post-card__excerpt">
                            ExteNet Systems has zeroed in on a growth opportunity in the indoor...									</div>
                        <div class="post-card__date">
                            August 30, 2022									</div>
                        <a class="post-card__button button" href="https://www.fiercetelecom.com/telecom/extenet-chases-indoor-rural-fiber-growth-opportunities#new_tab">Read Article</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
	
<!-- cta section -->
<section class="cta-section">
    <div class="cta-section__bg" style="background-image: url(https://extenetsystems.com/wp-content/uploads/2022/08/cta_img.png)">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <div class="cta-section__inner relative white">
                        <h2 class="h2" style="text-align: center;">Ready for advanced communications?<br />
                            Let’s connect</h2>
                        <p style="text-align: center;"><a class="button" href="https://extenetsystems.com/contact/">Get In Touch</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- END of main content -->

<!-- Related articles section -->